@font-face {
    font-family: "Neuve-Book";
    src: url("fonts/neue_montreal-book.woff2") format("woff2");
}

@font-face {
    font-family: "Neuve-Bold" ;
    src: url("fonts/neue_montreal-bold.woff2") format("woff2");
}

@font-face {
    font-family: "Neuve-Semibold-Italic";
    src: url("fonts/neue_montreal-semibolditalic.woff2") format("woff2");
}

@font-face {
    font-family: "Neuve-Medium";
    src: url("fonts/neue_montreal-medium.woff2") format("woff2");
}

@font-face {
    font-family: "Neuve-Thin";
    src: url("fonts/neue_montreal-thin.woff2") format("woff2");
}

* {
    font-family: "Neuve-Book";
    box-sizing: border-box;
}

body {
    overflow-x:hidden;
}

nav {
    display: flex;
    position: fixed;
    margin-top: 30px;
    justify-content: center;
    align-content: center;
}

nav p {
    border-bottom: solid black 2px;
}


p {
    font-size: 1.15em;
    margin-top: 4px;
    padding-top: 4px;
    padding-bottom: 6px;
    margin-bottom: 0px;
}

a:link {
    color: black;
    text-decoration: none;
    margin: 0px;
}

a:visited {
    color: black;
    text-decoration: none;
    margin: 0px;
}

.margins {
    max-width: 97%;
    margin: auto;
}

/* .pills_body {
    overflow-y: hidden;
} */

.tagline {
    position: absolute;
    font-size: 15px;
    top: 21px;
    left: 70px;
    padding: 2px;
    margin: 0px;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.browse_background {
    background-color: blue;
}

.emotions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
}

.pills {
    display: flex;
    flex-direction: column;
}

.pills p{
    font-family: "Neuve-Book";
    font-size: 2.1em;
    padding: 20px 0px;
    margin: 0px;
    margin-left: 0.5%;
    border-bottom: solid black 4px;
}

.pills p:hover {
    background-color: #d8fd00;
    /* transition: background-color 0.6s ease; */
    font-size: 2.3em;
    padding: 20px 0px;
    /* transition: padding 0.6s ease; */
}


.pill_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 50px;
}

.upper_title {
    display: flex;
    align-items: flex-start;
}


.emotion_name {
    position: relative;
    left: 100px;
    width: 80px;
}


.emotions_names {
    width: 80px;
}

.pill_info {
    display: flex;
}

.pill_title {
    display: flex;
    position: relative;
    top: 60px;
}



.pill_usage section {
    margin-top: 5%;

}


.pill_more_info section {
    width: 45%;
}


.awkwardizol_dosage p{
    display: inline-block;
    padding: 2px 4px;
    margin: 8px 0px;
    border: dotted black 1px;
    font-size: 13px;
    background-color: #c0c0bd;
}

.awkwardizol_dosage p:hover {
    background-color: #d8fd00
}

.small_titles {
    font-family: "Neuve-Thin";
    font-size: 1.3em;
    padding-bottom: 0px;
    margin-bottom: 2px;
}

.pill_info_emotion {
    display: flex;
}

.pill_info_emotion p {
    display: inline-block;
    padding: 6px;
    border-radius: 12px;
    background-color: #dbdbda;
    margin: 6px;
    margin-bottom: 6%;
    margin-top: 3%;
    font-size: 14px;
}

.pill_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

.pill_right section {
    margin-left: 10%;
}

.similar_pills {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 0px;
    margin-bottom: -8%;
    margin-left: 20%;
}

.similar_pills img {
    margin-top: -22%;
}

.similar_pills_names {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 5%;
}

.similar_pills_names p {
    font-size: 14px;
    padding: 3px;
    border: dotted black 1.5px;
    background-color: #c0c0bd;
}

.similar_pills_names p:hover {
    background-color: #d8fd00;
}

.similar_pills_names_comic {
    margin-right: 20%;
    margin-left: -15%;
}

.similar_pills_2 {
    position: relative;
    margin-top: -60%;
    width: 100%;
}



.pill_footer {
    position: absolute;
    top: 10%;
    right: 3%;
}

.pill_footer p{
    display: inline-block;
    padding: 2px 5px;
    border: dotted black 1.5px;
    background-color: #d8fd00;
    margin: 4px;
    font-size: 1em;
}


.showreel {
    z-index: 10;
    position:static;
    margin-top:-8px;
    margin-left:-40px
}

.explanation {
    font-size: 1.3em;
    width: 90%;
    margin-top: 10%;
    margin-left: 1%;
}



#wello_loading {
    width: 400px;
    padding: 0px;
    z-index: -0;
    display: inline-block;
    position: relative;
    margin-left: 33%;
    margin-top: 5%;
}

#inside {
    font-family: "Neuve-Book";
    font-size: 16px;
    padding: 4px;
    border: solid black 1.5px;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    margin-left: 45%;
    /* margin-top: 0%; */
}

#browse {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}



#browse_pills {
    display: inline-block;
    padding: 2px 4px;
    border: solid 1.3px;
    margin-right: 5px;
    color: black;
}

#browse_emotions {
    display: inline-block;
    padding: 4px 8px;
    border: solid 1.3px;
    border-radius: 50%;
    margin-left: 5px;
    color: black;
}

#emotions {
    margin-top: 120px;
}

#pills {
    margin-top: 120px;
}


#emotions p {
    padding: 60px;
}

#pills p {
    margin: 50px;
    padding: 2px;
    border-bottom:black dotted 1.5px;
}


.footer_emotion {
    border-radius: 50%;
    padding: 3px 5px;
}

.pill_title_2 {
    margin-left: 10px;
    margin-bottom: 4px;
}

.pill_description {
    font-family: "Neuve-Medium";
    display: inline-block;
    font-size: 1.5em;
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding: 2px 0px;
    margin: 7px 0px 2px 10px;
}

.pill_img {
    margin-top: -10%;
}










